body{
	background-image: url("../background/Snapshots/Working-it.jpg");
	background-color: #C0C0C0;
}

.centralsurveys{
	position:absolute;
    width:800px;
    height:800px;
    z-index:15;
    top:40%;
    left:30%;
    margin:-100px 0 0 -150px;
}

h1 {
font-family:georgia,serif;
font-size:35px;
font-style:italic;
color:#3E2F2F;
letter-spacing:0;
line-height:1.429em;
padding:0;
text-align:center;
padding-bottom: 3cm;
}

.table{
	background-color: #FFFFFF;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.centeralign{
	text-align: center;
}